<% @places.each do |place| %>
    <div>
        <h1><%= place.name %></h1><br />
        <p><%= place.address %></p><br />
        <i><%= place.description %></i>
        
    </div>
    
    <hr />
<% end %>
